:root {
    --dark-gray: #4e4d50;
    --light-gray: #c5c6c7;
    --light-blue: #5086d6;
    --medium-blue: #2e5081;
    --darkest-blue: #1f2833;
    --tan: #b1a296;
}

::selection {
    background-color: var(--darkest-blue);
    color: var(--tan);
}

html {
    font-size: 62.5%;
}

/* General color scheming */
body {
    background-color: var(--light-gray);
    font-size: 1.75rem;
}

main {
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */
nav {
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: 200;
    bottom: 0.7rem;
}

ul {
    justify-content: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 60%;
}

li {
    margin: 2rem 5rem 2rem 5rem;
}

li:hover {
    color: var(--light-blue)
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

/* Big name and mini description */
.name {
    color: var(--medium-blue);
    text-align: center;
    font-size: 6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    letter-spacing: .75rem;
    padding: 3rem 0 2rem 0;
}

.webdev {
    text-align: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}
/* Background image and profile picture dividing the navigation bar from the main content of the page */
figure {
    height: 32.5vw;
    width: 50%;
    background-image: url("../images/diamonds.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    margin-right: auto;
    margin-left: auto;
}

figure .scale {
    display: flex;
    height: 60%;
    width: 30%;
    margin: auto;
}

figure .scale img {
    border: 2px solid var(--darkest-blue);
    border-radius: 50%;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* Main */

/* Section 1: About me */
.about {
    display: flex;
    flex-direction: column;
}

.about a {
    color: var(--light-blue);
}

.about h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: var(--medium-blue);
    margin: 2rem 4rem;
}

.about .aboutDev {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.5rem;
    margin-left: 4rem;
    margin-right: 50%;
    margin-bottom: 5rem;
}

.about .aboutWriter {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.5rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5rem;
}

.about .aboutContact {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.5rem;
    margin-left: 50%;
    margin-right: 4rem;
    margin-bottom: 5rem;
}

/* Section 2: Projects */
.projects h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: var(--medium-blue);
    margin: 2rem 4rem;
}

.projects .bigContainer {
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 4rem;
}

.projects .proDesc {
    display: flex;
    flex-direction: column;
}

.projects p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.5rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
}

.projects .proBig {
    height: 300px;
    width: 600px;
    border: 2px solid var(--darkest-blue);
    border-radius: 15px;
    padding: 10px;
    background-color: var(--light-blue);
    color: var(--light-gray);
}

.projects .smallContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.projects .proSmall {
    height: 150px;
    width: 250px;
    border: 2px solid var(--darkest-blue);
    border-radius: 15px;
    padding: 10px;
    margin: 2rem 2rem;
    background-color: var(--light-blue);
    color: var(--light-gray);
}

/* Section 3: Writing */
.writing h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: var(--medium-blue);
    margin: 2rem 4rem;
}

.writing h2 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--dark-gray);
    margin: 2rem 4rem 1rem 4rem;
}

.writing p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.5rem;
    padding: 0 4rem 1rem 4rem;
}

/* Section 4: Contact me */



/* the following adjusts the css to fit different sized screens */
@media screen and (max-width: 900px) {
    body {
        font-size: 15px;
    }
}

/* this isn't working like horiseon page for some reason. regardless, let's replace the navbar links with a dropdown menu thingy anyway */
@media screen and (max-width: 400px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    body {
        font-size: 13px;
    }
}