:root {
    --dark-gray: #4e4d50;
    --light-gray: #ececec;
    --light-purple: #7750f8;
    --medium-purple: #7510F7;
    --darkest-purple: #291f33;
    --tan: #b1a296;
}

::selection {
    background-color: var(--darkest-purple);
    color: var(--tan);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* General color scheming */
body {
    background-color: var(--light-gray);
    font-size: 1.75rem;
}

main {
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */
.desktop-nav {
    padding-top: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    bottom: 0.7rem;
}

.icon {
    display: none;
}

#mobile-links {
    display: none;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.force-right {
   margin-left: auto;
   border: 2px solid var(--medium-purple);
   color: var(--medium-purple);
   border-radius: 290486px;
   padding: 10px;
}

.force-right:hover {
    background-color: var(--medium-purple);
    color: var(--light-gray);
    transition-duration: 500ms;
}

li {
    margin: 1vw 4vw 1vw 5vw;
    color: var(--dark-gray);
}

li:hover {
    color: var(--medium-purple);
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

/* Section with Name and Profession */
.title {
    /* box-shadow: none;
    position: relative; */
}

/* Big name */
.name {
    color: var(--medium-purple);
    text-align: center;
    font-size: 6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    letter-spacing: .75rem;
    padding: 3rem 0 2rem 0;
}

/* design for "Full-stack web developer" text */
.webdev {
    text-align: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

/* Main */

/* Section 1: About me */
.about {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-bottom: 15rem;
}

.about a {
    color: var(--medium-purple);
}

.about h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 400;
    color: var(--medium-purple);
    margin: 2rem 0 2rem 4rem;
    transition: all 0.5s ease-in-out;
    position: relative;
    margin-top: -40px;
}

.about p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.5rem;
    margin-bottom: 5rem;
}

/* placement of first About paragraph */
.about .aboutDev {
    margin-left: 4rem;
    margin-right: 50%;
}

/* placement of second About paragraph */ 
.about .aboutWriter {
    margin-left: 20%;
    margin-right: 20%;
}

/* placement of third About paragraph */ 
.about .aboutContact {
    margin-left: 50%;
    margin-right: 4rem;
}

/* Section 2: Projects */
.projects {
    background-color: var(--dark-gray);
    padding-top: 5rem;
    padding-bottom: 15rem;
}

.projects h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: var(--light-purple);
    margin: 4rem 4rem 2rem 4rem;
}

.projects .big-proj-container {
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 4rem;
}

.projects .proj-desc {
    display: flex;
    flex-direction: column;
}

.projects p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: var(--light-gray);
    font-weight: 100;
    line-height: 2.5rem;
    padding-right: 2rem;
    margin-bottom: 5rem;
}

/* design for big project box */ 
.projects .big-link {
    height: 20vw;
    width: 52%;
    border-radius: 15px;
    padding: 10px;
    background-image: linear-gradient(rgba(117, 16, 247, 1) 0%, rgba(116, 16, 247, 0.479) 100%);
    color: var(--light-gray);
}

.projects .small-proj-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    padding: 2rem;
}

/* design for small project boxes */ 
.projects .small-link {
    height: 12vw;
    width: 21%;
    border-radius: 15px;
    padding: 10px;
    margin: 2rem;
    background-image: linear-gradient(rgba(117, 16, 247, 1) 0%, rgba(116, 16, 247, 0.479) 100%);
    color: var(--light-gray);
}

/* Section 3: Writing */
.writing {
    padding-top: 5rem;
    padding-bottom: 15rem;
}
.writing h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: var(--medium-purple);
    margin: 2rem 4rem;
}

.writing h2 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--dark-gray);
    margin: 2rem 4rem 1rem 4rem;
}

.writing p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.5rem;
    padding: 0 4rem 1rem 4rem;
}

/* Section 4: Contact me */
.contact {
    background-color: var(--dark-gray);
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact h1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: var(--light-purple);
    margin: 4rem 4rem 1rem 4rem;
}

.contact p {
    color: var(--light-gray);
    margin-left: 4.4rem;
    line-height: 2.25rem;
}

.contact img {
    margin: 4rem;
}

.contact .profile {
    border: 3px solid var(--dark-gray);
    border-radius: 50%;
    width: 160px;
    margin-top: -1rem;
}

/* the following adjusts the css to fit different sized screens */

/* This optimizes the page for smaller desktop viewports and tablets in landscape mode */

@media screen and (max-width: 1055px) {
    .projects .big-proj-container {
        flex-direction: column;
    }

    .projects .big-link {
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: 30vw;
    }

    .projects .small-link {
        width: 35%;
        height: 20vw;
    }
}

/* This optimizes the page for tablets in portrait mode */
@media screen and (max-width: 900px) {
    body {
        font-size: 15px;
    }

    .projects .big-proj-container {
        flex-direction: column;
    }

    .projects .big-link {
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: 30vw;
    }

    .projects .small-link {
        width: 35%;
        height: 20vw;
    }
}

/* This optimizes the page for phones in portrait mode */
@media screen and (max-width: 500px) {
    
    body {
        font-size: 13px;
    }

    .desktop-nav {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .icon {
        display: flex;
        justify-content: flex-end;
        margin-right: 4vw;
    }
    
    #mobile-links {
        display: none;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    .force-right {
        border: none;
        border-radius: none;
        color: var(--dark-gray);
        padding: 0;
    }
    
    .force-right:hover {
        background-color: var(--light-gray);
        color: var(--dark-gray);
    }

    li {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .about, .projects, .writing {
        margin-bottom: 0;
    }

    .title {
        margin-top: 5vh;
    }

    .about {
        margin-top: 20vh;
        margin-bottom: 8vh;
    }
    .about .aboutDev {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .about .aboutWriter {
        margin-left: 4rem;
        margin-right: 4rem;
    }
    
    .about .aboutContact {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .contact .mobile-center-profile {
        margin-right: auto;
        margin-left: auto;
    }

    .contact h1 {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .contact p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .contact div {
        margin-left: auto;
        margin-right: auto;
    }

    .contact img {
        margin: 3rem;
    }
}